@page
@model MyEshop.Pages.Admin.AddModel
@{
    ViewData["Title"] = "افزودن کالا";
}
<h1>افزودن کالا</h1>
<hr />
<form method="POST" enctype="multipart/form-data">
    <dl class="dl-horizontal">
        <dd><label asp-for="product.Name"></label></dd>
        <dt>
            <input asp-for="product.Name" class="form-control"/>
            <span asp-validation-for="product.Name"></span>
        </dt>
    </dl>
    <dl class="dl-horizontal">
        <dd><label asp-for="product.Description"></label></dd>
        <dt>
            <textarea asp-for="product.Description" class="form-control"></textarea>
            <span asp-validation-for="product.Description"></span>
        </dt>
    </dl>
    <dl class="dl-horizontal">
        <dd><label asp-for="product.Price"></label></dd>
        <dt>
            <input asp-for="product.Price" class="form-control" />
            <span asp-validation-for="product.Price"></span>
        </dt>
    </dl>
    <dl class="dl-horizontal">
        <dd><label asp-for="product.QuantityInStock"></label></dd>
        <dt>
            <input asp-for="product.QuantityInStock" class="form-control" />
            <span asp-validation-for="product.QuantityInStock"></span>
        </dt>
    </dl>
    
    <dl class="dl-horizontal">
        <dd><label asp-for="product.Picture"></label></dd>
        <dt>
            <input asp-for="product.Picture" class="form-control" />
            <span asp-validation-for="product.Picture"></span>
        </dt>
    </dl>
    <input type="submit" value="ثبت" class="btn btn-success"/>
</form>