@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <h1>@DateTime.Now</h1>
    @{
        var data = 1;    
        var reza = data.ToString("000");
    }
<br/>
<br/>
<h2>Reza Nabiloo</h2>

    <h1 style="color:red">@reza</h1>
</div>
