@model IEnumerable<Product>
@{
    ViewData["Title"] = ViewData["GroupName"];
}

<h1>محصولات گروه : @ViewData["GroupName"]</h1>
<hr />
@foreach (var item in Model)
{
    <partial name="_BoxProduct" model="@item"></partial>
    @*<div class="col-3">
            <div class="card">
                <img src="~/images/@(item.Id).jpg" width="160" height="160" class="card-img-top img-thumbnail"/>
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <a asp-action="Detail"
                        asp-controller="Home"
                        asp-route-id="@item.Id"
                        >نمایش جزئیات</a>
                </div>
            </div>
        </div>*@
}
