@model Product
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="col-3">
            <div class="card">
                <img src="~/images/@(Model.Id).jpg" width="160" height="160" class="card-img-top img-thumbnail"/>
                <div class="card-body">
                    <h5 class="card-title">@Model.Name</h5>
                    <a asp-action="Detail"
                        asp-controller="Home"
                        asp-route-id="@Model.Id"
                        >نمایش جزئیات</a>
                </div>
            </div>
        </div>
