
@{
    ViewData["Title"] = "تماس با ما";
}

<h1>تماس با ما</h1>
<hr />
<div class="row">
    <div class="col-md-3">
        <div class="card bg-light mb-3" style="max-width: 20rem;">
            <div class="card-header">راه های تماس</div>
            <div class="card-body">
                <h4 class="card-title">ارتباط با ما</h4>
                <p class="card-text">تلفن : 02154878965</p>
                <p class="card-text">تلفن : 02154878965</p>
                <p class="card-text">تلفن : 02154878965</p>
                <p class="card-text">تلفن : 02154878965</p>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="bs-component">
            <div class="jumbotron">
                <h1 class="display-3">به فروشگاه ما خوش آمدید.</h1>
                <p class="lead">میتوانید از طریق راه های ارتباطی با ما در تماس باشید</p>
                <hr class="my-4">
                <p>از کلاس‌های ابزار برای تایپوگرافی و محاسبه فضای محتوا در ظرف بزرگ‌تر استفاده می کند.</p>
                <p class="lead">
                    <a class="btn btn-primary btn-lg" href="#" role="button">بیشتر بدانید</a>
                </p>
            </div>
        </div>
    </div>
</div>

